@mixin text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin vanishing-text($color: white, $color-stop: 75%) {
  display: block;
  position: relative;
  overflow: hidden;
  
  &:before {
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent $color-stop,
      $color 100%
    );
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin text-shadow {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
