include ../../../node_modules/bemto.jade/bemto

+b.sensation.reveal
  +e(style="background-image: url(img/sensation-bg.jpg);").img-container
  .wrapper
    +e.H2.title Брендирование самолетов
    +e.H3.text Нанесение рекламного материала на фюзеляж самолёта — наиболее заметная и впечатляющая возможность, которую мы предлагаем
    +e.square-wrapper 
      | более
      +e.SPAN.square
      |м
      sup 2
    +e.small-text рекламной площади для самых смелых и креативных решений
    +e.buttons
      +e(href="#modal-offer").button.btn-large.modal-trigger.grey.lighten-5 Персональное предложение
      +e(href="#").button.btn-large.grey.lighten-5 Скачать презентацию
      +e(href="#modal-call").button_accent.waves-effect.waves-light.btn-large.modal-trigger Заказать звонок