// --- BASE VARIABLES ----------------------------------------------------------
$global-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$window-min-width: 400px;

// -----------------------------------------------------------------------------

// --- MEDIA SIZE STACK --------------------------------------------------------
$lg: 1199px; $lg-container: 1170px;
$md: 991px; $md-container: 970px;
$sm: 767px; $sm-container: 750px;
$xs: 479px; 
// -----------------------------------------------------------------------------

// --- COLOR STACK -------------------------------------------------------------
$c-base-black: #212121;
$c-base-white: white;
$c-brand: #b84530;


// -----------------------------------------------------------------------------
