include ../../../node_modules/bemto.jade/bemto

+b.unprecedented#unprecedented.reveal: .wrapper
  +e.H2.title ЛЕТАЮЩИЙ БИЛБОРД объединяет все преимущества оффлайн и онлайн рекламы
  +e.content
    +e.info.valign-wrapper
      +e.text.valign
        p Уникальность рекламы на самолете – это возможность запустить вирусное продвижение и обеспечить дальнейшее обсуждение проекта во всех популярных социальных сетях, СМИ, блогосфере, форумах и других онлайн ресурсах.
        p Совмещая преимущества оффлайн и онлайн рекламы, летающий биллборд позволяет кратно увеличить охват аудитории.
        p Согласитесь, ни один рекламный щит на такое не способен!
    +e.img: img(src="img/unprecedented-img.png" alt="")