include ../../../node_modules/bemto.jade/bemto

+b.see.reveal: .wrapper
  +e.H2.title Вашу рекламу увидят все
  +e.content
    +e.card
      +e.img: img(src="img/see/see-1.png" alt="")
      +e.text В аэропорту
    +e.card
      +e.img: img(src="img/see/see-2.png" alt="")
      +e.text Во время взлета
    +e.card
      +e.img: img(src="img/see/see-3.png" alt="")
      +e.text В полете
    +e.card
      +e.img: img(src="img/see/see-4.png" alt="")
      +e.text При посадке