include ../../../node_modules/bemto.jade/bemto

+b.about.reveal
  +e(style="background-image: url(img/office.jpg);").img-container
  .wrapper
    +e.H2.title.teal-text.text-lighten-2 Почему мы?
    .valign-wrapper
      .valign
        +e.UL.list
          +e.item
            i.material-icons.teal-text.text-lighten-2 check_circle
            | 8 лет работы с российскими и европейскими авиа операторами
            | по организации индивидуальных и корпоративных перелетов
            | любой сложности.
          +e.item
            i.material-icons.teal-text.text-lighten-2 check_circle
            | Доступ к авиа парку всех российских перевозчиков.
          +e.item
            i.material-icons.teal-text.text-lighten-2 check_circle
            | Мы 1 из 10 аккредитованных брокеров при ОНАДА.
          +e.item
            i.material-icons.teal-text.text-lighten-2 check_circle
            | Ежегодно совершаем собственные рейсы более чем в 150
            | аэропортов.
          +e.item
            i.material-icons.teal-text.text-lighten-2 check_circle
            | 1 час – рекорд нашего сотрудника по организации срочного
            | вылета.