include ../../../node_modules/bemto.jade/bemto

+b.arguments.reveal: .wrapper
  +e.H2.title Реклама на самолете решает любую задачу
  +e.content
    +e.card
      +e.img: img(src="img/arguments/arguments-1.png" alt="")
      +e.text Вывести новый продукт на рынок
    +e.card
      +e.img: img(src="img/arguments/arguments-2.png" alt="")
      +e.text Победить в борьбе за внимание
    +e.card
      +e.img: img(src="img/arguments/arguments-3.png" alt="")
      +e.text Повысить имидж и узнаваемость компании
    +e.card
      +e.img: img(src="img/arguments/arguments-4.png" alt="")
      +e.text Дать новое дыхание забытому продукту