include ../../../node_modules/bemto.jade/bemto

+b.examples#examples.reveal: .wrapper
  +e.H2.title.center-align Фюзеляж самолета
  +e.gallery
    +e(href="img/examples/example-1.jpg").card.hoverable: img(src="img/examples/example-1-small.jpg" alt="")
    +e(href="img/examples/example-2.jpg").card.hoverable: img(src="img/examples/example-2-small.jpg" alt="")
    +e(href="img/examples/example-3.jpg").card.hoverable: img(src="img/examples/example-3-small.jpg" alt="")
    +e(href="img/examples/example-4.jpg").card.hoverable: img(src="img/examples/example-4-small.jpg" alt="")
    +e(href="img/examples/example-5.jpg").card.hoverable: img(src="img/examples/example-5-small.jpg" alt="")
    +e(href="img/examples/example-6.jpg").card.hoverable: img(src="img/examples/example-6-small.jpg" alt="")