include ../../../node_modules/bemto.jade/bemto

+b.episodes#episodes.reveal.teal.lighten-2: .wrapper
  +e.H2.title Как мы работаем:
  +e.episode-container
    +e.episode
      +e.text.valign-wrapper
        .valign.center-align.teal-text Согласование рекламных позиций с Заказчиком
      +e.number-wrapper
        +e.number.btn-floating.btn-large.grey.lighten-5.teal-text 1
    +e.episode_last
      +e.text.valign-wrapper
        .valign.center-align.teal-text Совместная разработка и дизайн рекламных макетов
      +e.number-wrapper
        +e.number.btn-floating.btn-large.grey.lighten-5.teal-text 2
    +e.episode
      +e.text.valign-wrapper
        .valign.center-align.teal-text Согласование изменений ливреи самолета в лизинговой компании
      +e.number-wrapper
        +e.number.btn-floating.btn-large.grey.lighten-5.teal-text 3
    +e.episode_last
      +e.text.valign-wrapper
        .valign.center-align.teal-text Изготовление материала и его нанесение
      +e.number-wrapper
        +e.number.btn-floating.btn-large.grey.lighten-5.teal-text 4
    +e.episode
      +e.text.valign-wrapper
        .valign.center-align.teal-text Обслуживание в процессе эксплуатациии ежемесячный осмотр ВС
      +e.number-wrapper
        +e.number.btn-floating.btn-large.grey.lighten-5.teal-text 5
    +e.episode_last
      +e.text.valign-wrapper
        .valign.center-align.teal-text Предоставление фото/видео отчетности
      +e.number-wrapper
        +e.number.btn-floating.btn-large.grey.lighten-5.teal-text 6
    +e.episode
      +e.text.valign-wrapper
        .valign.center-align.teal-text Оценка эффективности РК по соответствующим показателям
      +e.number-wrapper
        +e.number.btn-floating.btn-large.grey.lighten-5.teal-text 7
  +e.buttons
    +e(href="#modal-offer").button.waves-effect.waves-light.btn-large.teal.lighten-3.modal-trigger Получить персональное предложение
    +e(href="#").button.waves-effect.waves-light.btn-large.teal.lighten-3 Скачать презентацию
    +e(href="#modal-call").button.waves-effect.waves-teal.btn-large.modal-trigger.grey.lighten-5.teal-text.text-darken-3 Заказать звонок