include ../../../node_modules/bemto.jade/bemto

+b.UL.side-nav#slide-out
  +e.item: .userView
    img(src="img/side-nav-bg.jpg" alt="").background
    a(href="http://jet-partners.ru/").center-align: img(src="img/logo.png" alt="")
  +e.item: a(href="#unprecedented").waves-effect.waves-light Это беспрецедентно!
  +e.item: a(href="#work").waves-effect.waves-light Как это работает?
  +e.item: a(href="#examples").waves-effect.waves-light Как это выглядит?
  +e.item: a(href="#price").waves-effect.waves-light Стоимость услуг
  +e.item: a(href="#contacts").waves-effect.waves-light Наши контакты