include ../../../node_modules/bemto.jade/bemto

+b.to-action.reveal: .wrapper
  +e.H2.title РЕКЛАМА НА САМОЛЕТЕ – это реальная возможность стать №1
  +e.slider
    +e(href="img/another/another-1.jpg").slider-item.z-depth-1.hoverable: img(src="img/another/another-1-small.jpg" alt="")
    +e(href="img/another/another-2.jpg").slider-item.z-depth-1.hoverable: img(src="img/another/another-2-small.jpg" alt="")
    +e(href="img/another/another-3.jpg").slider-item.z-depth-1.hoverable: img(src="img/another/another-3-small.jpg" alt="")
    +e(href="img/another/another-4.jpg").slider-item.z-depth-1.hoverable: img(src="img/another/another-4-small.jpg" alt="")
    +e(href="img/another/another-5.jpg").slider-item.z-depth-1.hoverable: img(src="img/another/another-5-small.jpg" alt="")
    +e(href="img/another/another-6.jpg").slider-item.z-depth-1.hoverable: img(src="img/another/another-6-small.jpg" alt="")
    +e(href="img/another/another-7.jpg").slider-item.z-depth-1.hoverable: img(src="img/another/another-7-small.jpg" alt="")
    