include ../../../node_modules/bemto.jade/bemto

+b.price#price.reveal: .wrapper
  +e.H2.title Дополнительные возможности
  .carousel
    +e.card.card.carousel-item
      .card-image
        img(src="img/price/1.jpg" alt="")
      .card-content
        +e.H4.card-title Обеденный столик
        +e.text
          | Пассажир будет видеть рекламу на протяжении всего полёта.
          | Это идеальный способ передать даже самое подробное
          | сообщение. Разместите максимум информации о продукте
          | на вкладыше, который клиент обнаружит в спинке кресла.
          | Отлично подойдет для специальных предложений и купонов на
          | скидку.
      .center-align
        +e(href="#modal-price").sale-button.waves-effect.waves-light.btn.modal-trigger узнать стоимость
    +e.card.card.carousel-item
      .card-image
        img(src="img/price/2.jpg" alt="")
      .card-content
        +e.H4.card-title Багажная полка
        +e.text
          | То, что первым делом видит пассажир, поднявшись на борт.
          | Самое большое рекламное пространство на борту.
          | Пассажиры будут видеть ваше объявление на протяжении
          | всего полёта. Запоминаемость подобного сообщения не
          | сравнится ни с одним рекламным щитом.
      .center-align
        +e(href="#modal-price").sale-button.waves-effect.waves-light.btn.modal-trigger узнать стоимость
    +e.card.card.carousel-item
      .card-image
        img(src="img/price/3.jpg" alt="")
      .card-content
        +e.H4.card-title Стаканчик
        +e.text
          | Разместите сообщение на стаканчиках
          | и клиент будет видеть его каждый раз, когда
          | захочет утолить жажду.
      .center-align
        +e(href="#modal-price").sale-button.waves-effect.waves-light.btn.modal-trigger узнать стоимость
    +e.card.card.carousel-item
      .card-image
        img(src="img/price/4.jpg" alt="")
      .card-content
        +e.H4.card-title Обеденный столик
        +e.text
          | Пассажир будет видеть рекламу на протяжении всего полёта.
          | Это идеальный способ передать даже самое подробное
          | сообщение. Разместите максимум информации о продукте
          | на вкладыше, который клиент обнаружит в спинке кресла.
          | Отлично подойдет для специальных предложений и купонов на
          | скидку.
      .center-align
        +e(href="#modal-price").sale-button.waves-effect.waves-light.btn.modal-trigger узнать стоимость
    +e.card.card.carousel-item
      .card-image
        img(src="img/price/5.jpg" alt="")
      .card-content
        +e.H4.card-title Посадочный талон
        +e.text
          | Должно быть, самая важная часть любого
          | полета, а, значит, и реклама на данном носителе
          | не останется без внимания.
      .center-align
        +e(href="#modal-price").sale-button.waves-effect.waves-light.btn.modal-trigger узнать стоимость
  +e.buttons
      +e(href="#modal-offer").button.btn-large.modal-trigger.waves-effect.waves-light Персональное предложение
      +e(href="#").button.btn-large.waves-effect.waves-light Скачать презентацию
      +e(href="#modal-call").button_accent.btn-large.modal-trigger.grey.lighten-5 Заказать звонок