include ../../../node_modules/bemto.jade/bemto

+b.work#work.reveal: .wrapper
  +e.H2.title Как это работает?
  +e.content
    +e.card
      +e.img: img(src="img/work/work-1.png" alt="")
      +e.text
        | Запоминаемость бренда составляет 93% за счет
        | длительного контакта с рекламным сообщением
    +e.card
      +e.img: img(src="img/work/work-2.png" alt="")
      +e.text
        | Более 86% пассажиров вспоминают бренд с которым столкнулись во время перелёта
    +e.card
      +e.img: img(src="img/work/work-3.png" alt="")
      +e.text
        | Рекламное сообщение во время путешествий побуждает
        | 75% аудитории к покупке
    +e.card
      +e.img: img(src="img/work/work-4.png" alt="")
      +e.text
        | 86% пассажиров находятся в хорошем расположении духа
        | и восприимчивы к рекламным сообщениям