.modal-offer {
  @include padding(30px);
  width: 380px;
  
  &__title {
    @include padding(null null 10px);
    font-weight: 300;
  }
  
  &__submit-wrapper {
    @include margin(10px null null);
    color: $c-base-black;
    text-align: center;
        
    > button {
      background-color: $c-brand;

      &:hover {
        background-color: lighten($c-brand, 10%);
      }
    }
  }
  
  // materialize firefox bug
  [for^="modal-offer"] {
    left: 0;
  }
}